/* Fonts, again! */
@font-face {
  font-family: "NexaRegular";
  src: url("./assets/fonts/NexaRegular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/NexaRegular.woff") format("woff"), url("./assets/fonts/NexaRegular.ttf") format("truetype"), url("./assets/fonts/NexaRegular.svg#NexaRegular") format("svg");
  font-style: normal;
  font-weight: normal;
}

 @font-face {
  font-family: "NexaBold";
  src: url("./assets/fonts/NexaBold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/NexaBold.woff") format("woff"), url("./assets/fonts/NexaBold.ttf") format("truetype"), url("./assets/fonts/NexaBold.svg#NexaBold") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Nexa Light";
  src: url("./assets/fonts/nexaregular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/NexaRegular.woff") format("woff"), url("./assets/fonts/NexaRegular.ttf") format("truetype"), url("./assets/fonts/NexaRegular.svg#NexaRegular") format("svg");
  font-style: normal;
  font-weight: 400;
}

body {
  background-color: #EEE;
  font-family: "NexaRegular", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  display: table;
  height: 100%;
  margin: 0 auto;
  width: auto;
}

section {
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.form-container {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  margin: 0 auto;
  max-height: 100vh;
  width: 300px;
}

.form-header {
  background: #fff;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  color: #333;
  height: 118px;
  overflow: hidden;
  padding: 11px;
  position: relative;
  text-align: center;
}

.form-header > img {
  margin-top: 20px;
}

.form-content {
  box-sizing: border-box;
  padding: 20px;
}

input {
  border: 1px #F1F1F1 solid;
  border-radius: 3px;
  box-sizing: border-box;
  color: rgba(0,0,0,0.87);
  font-size: 13px;
  height: 40px;
  line-height: normal;
  margin-bottom: 10px;
  padding: 0 14px;
  position: relative;
  right: 0;
  width: 100%;
}

button {
	background-color: #000;
	border: 0;
	border-radius: 0 0 5px 5px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 14px;
	height: 70px;
	letter-spacing: 1px;
	overflow: hidden;
	padding: 14px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.2s ease-in-out;
	width: 100%;
}

.forgot-password {
  padding: 1.5em;
  text-align: center;
}

.forgot-password > a {
  color: black;
  font-size: 0.9em;
  outline: none;
  text-decoration: none;
}
