/* Fonts! */
@font-face {
  font-family: "NexaRegular";
  src: url("./assets/fonts/NexaRegular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/NexaRegular.woff") format("woff"), url("./assets/fonts/NexaRegular.ttf") format("truetype"), url("./assets/fonts/NexaRegular.svg#NexaRegular") format("svg");
  font-style: normal;
  font-weight: normal;
}

 @font-face {
  font-family: "NexaBold";
  src: url("./assets/fonts/NexaBold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/NexaBold.woff") format("woff"), url("./assets/fonts/NexaBold.ttf") format("truetype"), url("./assets/fonts/NexaBold.svg#NexaBold") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Nexa Light";
  src: url("./assets/fonts/nexaregular.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/NexaRegular.woff") format("woff"), url("./assets/fonts/NexaRegular.ttf") format("truetype"), url("./assets/fonts/NexaRegular.svg#NexaRegular") format("svg");
  font-style: normal;
  font-weight: 400;
}

/* For the sake of responsive web design, let's break this into `flex` and `grid` */
body {
  font-family: "NexaRegular", sans-serif;
}

main {
  padding: 2% 10%;
}

main > h1 {
  border-bottom: 1px #000 solid;
  margin: 0 auto;
  padding: 10px;
  width: 80%;
}

.showcase {
  align-content: center;
  align-items: flex-end;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  height: 100%;
  justify-content: center;
  justify-items: center;
  max-width: 960px;
  margin: 0 auto;
}

article {
  position: relative;
}

.product-img {
  height: auto;
  object-fill: cover;
  width: 80%;
}

.product-name {
  background-color: transparent;
  font-size: 1em;
  padding: 5px 0;
  text-align: center;
  width: 250px;
}

.product-price {
  font-family: "NexaBold";
  font-size: 1.5em;
  padding: 5px 0;
  text-align: center;
  width: 250px;
}
